<script type="text/javascript">
$(document).ready(function(){
	$(".success_story_full").hide();
	$(".toggle_link").click(function(){$(this).parent().next(".toggle_div").toggle("fast"); if ($(this).text()=="<%=:read_more.l("читать далее")%>") {$(this).text("<%=:hide.l("скрыть")%>");} else {$(this).text("<%=:read_more.l("читать далее")%>")}  return false});
});
</script>

<%=tabs(:tab1=>:success_stories.l("Истории успеха"))%>

<%for success_story in @success_stories%>
  <div  class="success_story">
    <a name="<%= success_story.member.id %>"></a>
  <h3><%=success_story.member.first_name%> (<%=success_story.member.status_additional%><%=success_story.member.statuses.find(:all).collect(&:status_name).join(",")%> <%= ","+success_story.member.city.name %>)</h3>
  <%= image_tag success_story.member.member_photo.public_filename(:view),  :align=>"left" unless success_story.member.member_photo.nil?%>
    <div class="success_story_short">
      <%=success_story.short_text%>
      <div><a class="toggle_link" href="#"><%=:read_more.l("читать далее") unless success_story.body.empty?%></a></div>
      <div class="toggle_div success_story_full">
      <%=success_story.body%>
      </div>
    </div>
  </div>
<%end%>
