
<%=tabs(:tab1=>"Список статей")%>

<%@locales=Localedb.find(:all)%>



<table class="admin_table">
  
<% for jim_article in @jim_articles %>
  <tr>
    <td><%= link_to jim_article.title, lang_jim_article_path(lang_id(@lang),jim_article) %></td>
    <td>
        <%@locales.each do |loc|%>
            <%=loc.short%><%= link_to image_tag("/images/edit_ico.gif",:alt=>"Редактировать"), edit_lang_jim_article_path(loc.short,jim_article) %>
        <%end%>
    </td>
    <td><%= link_to image_tag("/images/delete_ico.gif",:alt=>"Удалить"), jim_article, :confirm => 'Подтвердите удаление', :method => :delete %></td>
  </tr>
<% end %>
</table>

<br />

<%= link_to 'Добавить статью', new_jim_article_path %>
