
<%=tabs(:tab1=>:articles.l("Статьи"))%>

<div id="content_right">
    <%=items_list(@jim_articles, :attr_name =>"title")%>
</div>

<div id="content_main">

  <%for item in @jim_articles%>
   <%=link_to item.title, lang_jim_article_path(lang_id(@lang),item), :class => "link_title"%>
  <%=item.short_text%>
  <br>
  <%end%>


</div>



  <%content_for(:admin_actions) do%>
     <%= link_to 'Редактировать', lang_jim_articles_path(lang_id(@lang)) %>
  <%end%>
