<%=tabs(:tab1=>:magazines.l("Журналы"))%>

<div id="content_right">
  <%= items_list(@magazine, :attr_name => "name") %>
</div>

<div id="content_main">
<%= image_tag @magazine.logo.public_filename(:view), :align => "left" unless @magazine.logo.nil?%> <h3 class="inline"><%=h @magazine.name%></h3>

<%= @magazine.description %>

<%= @magazine.coord %>

</div>



  <%content_for(:admin_actions) do%>
     <%= link_to 'Редактировать', edit_magazine_path(@magazine) %>
  <%end%>
