<%=tabs(:tab1=>:event.l("Новость"))%>

<div id="content_right">
  <%= items_list(@event, :attr_name => "title", :order => "created_at DESC") %>
</div>

<div id="content_main">
<h3><%=h @event.title%></h3>

<%= @event.body %>

</div>



  <%content_for(:admin_actions) do%>
     <%= link_to 'Редактировать', edit_event_path(@event) %>
  <%end%>
