<script type="text/javascript">
$(document).ready(function(){
	$(".success_story_full").hide();
	$(".toggle_link").click(function(){$(this).parent().next(".toggle_div").toggle("fast", function(){setHeightAll();}); if ($(this).text()=="<%=:read_more.l("читать далее")%>") {$(this).text("<%=:hide.l("скрыть")%>");} else {$(this).text("<%=:read_more.l("читать далее")%>")}  return false});
});


</script>
  
                <% #  cache(:fragment => 'page1') do
                %>
               
                    <div class="info_block">
                      <div class="info_block1"> </div>
                      <div class="info_block2">
                        <div id="story1">
                          <div class="story_img"><%= image_tag @success_stories[0].member.member_photo.public_filename(:view) unless @success_stories[0].success_story_photo.nil?%></div>
                          <div class="story_text"><h4><%= @success_stories[0].member.name %>,<%=@success_stories[0].member.statuses.find(:all).collect(&:status_name).join(",")%></h4>
                          <%= @success_stories[0].short_text[0..200]+"..." %>
                           <%= link_to image_tag ("/images/31.gif"), lang_success_stories_path(lang_id(@lang))+"##{@success_stories[1].member.id}"%>
                        </div>
                        </div>
                        <div id="story2">
                          <div class="story_img"><%= image_tag @success_stories[1].member.member_photo.public_filename(:view) unless @success_stories[1].success_story_photo.nil?%></div>
                          <div class="story_text"><h4><%= @success_stories[1].member.name %>,<%=@success_stories[1].member.statuses.find(:all).collect(&:status_name).join(",")%></h4>
                          <%= @success_stories[0].short_text[0..200]+"..." %>
                          <%= link_to image_tag ("/images/31.gif"), lang_success_stories_path(lang_id(@lang))+"##{@success_stories[1].member.id}"%>
                        </div>
                      </div>
                      </div>
                      <div class="info_block3"> </div>
                    </div>
                
                    <%=@page.content%>

                <p>asa</p>
                    <div class="info_block">
                      <div class="info_block1"> </div>
                      <div class="info_block2">
                         <div id="top_news">
                            <div id="top_main">
                              <h2><%= :company_news.l("Новости компании") %></h2>
                            </div>
                            <% for item in @events do %>
                                <h3><%= link_to item.title, lang_event_path(lang_id(@lang),item) %></h3>
                                <%= item.short_text %>
                            <% end %>                            
                         </div>
                      </div>
                      <div class="info_block3"> </div>
                    </div>
                    
                <div style="clear:both"></div>
                       
                 
                <% #end 
                %>

            