<script type="text/javascript">
$(document).ready(function(){
	$(".success_story_full").hide();
	$(".toggle_link").click(function(){$(this).parent().next(".toggle_div").toggle("fast", function(){setHeightAll();}); if ($(this).text()=="<%=:read_more.l("читать далее")%>") {$(this).text("<%=:hide.l("скрыть")%>");} else {$(this).text("<%=:read_more.l("читать далее")%>")}  return false});
});


</script>
  
                <% #  cache(:fragment => 'page1') do
                %>
               
                    <div class="info_block">
                      <div class="info_block1"> </div>
                      <div class="info_block2">
                        <div id="story1">
                          <%= render :partial => "shared/home_page_story", :locals=>{:story=>@success_stories[0]} %>
                        </div>
                        <div id="story2">
                         <%= render :partial => "shared/home_page_story",:locals=>{:story=>@success_stories[1]} %>
                      </div>
                      </div>
                      <div class="info_block3"> </div>
                    </div>
                
                    <%=@page.content%>

                
                    <div class="info_block">
                      <div class="info_block1"> </div>
                      <div class="info_block2">
                         <div id="top_news">
                            <div id="top_main">
                              <h2><%= :company_news.l("Новости компании") %></h2>
                            </div>
                            <% for item in @events do %>
                                <h3><%= link_to item.title, lang_event_path(lang_id(@lang),item) %></h3>
                                <%= item.short_text %>
                            <% end %>                            
                         </div>
                      </div>
                      <div class="info_block3"> </div>
                    </div>
                    
                <div style="clear:both"></div>
                       
                 
                <% #end 
                %>

            