<div class="photo">
    
    <p><%= image_tag album_photo.public_filename(:view) unless album_photo.new_record?%></p>
    
    <%= file_field_tag 'photos[][uploaded_data]' %>

    <%= link_to_function  image_tag("/images/delete_ico.gif",:alt=>"Удалить"), "$(this).parent().fadeOut('slow', function(){$(this).remove()});" %>

    основная? <%= check_box_tag 'photos[][main]', 1, false %>

    <p>
        Описание<br>
        <%=  text_field_tag  'photos[][description]'%>
    </p>

</div>